@font-face {
  font-family: 'Arial Narrow';
  src:
    url('/fonts/arial-narrow/ArialNarrow-Bold.woff2') format('woff2'),
    url('/fonts/arial-narrow/ArialNarrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Arial Narrow';
  src:
    url('/fonts/arial-narrow/ArialNarrow-Italic.woff2') format('woff2'),
    url('/fonts/arial-narrow/ArialNarrow-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: block;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Arial Narrow';
  src:
    url('/fonts/arial-narrow/ArialNarrow-BoldItalic.woff2') format('woff2'),
    url('/fonts/arial-narrow/ArialNarrow-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: block;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Arial Narrow';
  src:
    url('/fonts/arial-narrow/ArialNarrow.woff2') format('woff2'),
    url('/fonts/arial-narrow/ArialNarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  /* font-display: swap; */
}
