

:root {
    /* Colors */
    /* --background-color: #000000;
    --foreground-color: #ffffff; */

    /* --background-color: #ebebeb;
    --foreground-color: #191919; */

    --background-color: #ff2f00;
    --foreground-color: #c8c8c8;
    --foreground-color-darker: #a9a9a9;
/* 
    --background-color: #d4d4d4;
    --foreground-color: #3c3c3c; */

    /* Typo */
    --font-family-normal: "Arial Narrow", sans-serif;
    --font-size-normal: 48px;
    --font-size-small: 28px;
    --font-size-mid: 22px;
    --font-size-large: 38px;
    /* Spacing */
    --outer-margin: 20px;
    --inner-margin: 10px;
    --total-margin: calc(var(--outer-margin) + var(--inner-margin));
    --double-total-margin: calc(var(--total-margin) * 2);
    /* Z-index */
    --z-nav: 100;
    --z-modal: 1000;
    --z-phone-nav: 10000;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2em;
}

body, html {
    font-family: var(--font-family-normal);
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: var(--font-size-normal);
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
        font-size: var(--font-size-small);
    }
}

img {
    max-width: 60%;
}

a {
    color: var(--foreground-color);
    text-decoration: none;
}

a:hover {
    color: var(--foreground-color-darker);
}

::selection {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

::-moz-selection {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

strong {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.letter-space-neg-1 {
    letter-spacing: -0.1em;
}

.letter-space-pos-1 {
    letter-spacing: 0.1em;
    }

.letter-space-neg-4 {
    letter-spacing: -0.7em;
}

p {
    margin-bottom: 0.4em;
    margin-top: 0;
}