@font-face {
    font-family: 'T-Star-TW Trial';
    src: url('T-Star-TWTrial-Bold.woff2') format('woff2'),
        url('T-Star-TWTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'T-Star-TW Trial';
    src: url('T-Star-TWTrial-Regular.woff2') format('woff2'),
        url('T-Star-TWTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

